.about_wppool {
  background: #ededed;
  padding: 80px 85px 0 85px;
}
.about_wppool .about_wppool_wrapper {
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_wppool .about_wppool_wrapper .about_info {
  padding: 70px 0 70px 70px;
  order: 1;
}
.about_wppool .about_info h2 {
  font-size: 48px;
  font-family: Nantes;
  font-weight: 400;
  color: #191618;
  /* margin-bottom: 8px; */
}
.about_wppool .about_info h3 {
  font-size: 30px;
  font-family: Nantes;
  font-weight: 400;
  color: #7d7f81;
  margin-bottom: 5px;
}
.about_wppool .about_info p {
  font-size: 18px;
  font-family: Messina Sans;
  font-weight: 380;
  color: #191618;
}
.about_wppool .about_info p span {
  text-decoration: underline;
}
.about_wppool .about_info .action_btn button {
  margin-top: 25px;
  border: 1px solid #2042b6;
  outline: none;
  background: #2042b6;
  color: #fff;
  width: 167px;
  height: 47px;
  font-size: 16px;
  font-family: Messina Sans;
  font-weight: 400;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.25);
}
.about_wppool .cover_image {
  order: 2;
}
.about_wppool .cover_image img {
  width: 523px;
}

/* Responsive Style */

@media (max-width: 1100px) {
  .about_wppool .about_wppool_wrapper .about_info {
    padding: 50px 0 50px 50px;
    width: 60%;
  }
  .about_wppool .about_info h2 {
    font-size: 45px;
    margin-bottom: 0px;
  }
  .about_wppool .about_info h3 {
    font-size: 25px;
    margin-bottom: 5px;
  }
  .about_wppool .about_info p {
    font-size: 15px;
  }
  .about_wppool .about_info .action_btn button {
    margin-top: 20px;
    height: 42px;
    font-size: 15px;
  }
  .about_wppool .cover_image {
    height: 475px;
    object-fit: cover;
  }
  .about_wppool .cover_image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 992px) {
  .about_wppool {
    padding: 80px 40px 0 40px;
  }
  .about_wppool .about_wppool_wrapper .about_info {
    padding: 50px 0 50px 50px !important;
    width: 80%;
  }
  .about_wppool .cover_image {
    height: 475px;
    object-fit: cover;
  }
  .about_wppool .cover_image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .about_wppool .about_wppool_wrapper .about_info {
    padding: 30px 0 30px 30px !important;
    width: 130% !important;
  }
}

@media (max-width: 576px) {
  .about_wppool {
    padding: 60px 20px 0 20px;
  }
  .about_wppool .about_wppool_wrapper {
    flex-direction: column !important;
  }
  .about_wppool .about_wppool_wrapper .about_info {
    padding: 30px 30px 30px 30px !important;
    width: 100% !important;
    order: 2;
  }
  .about_wppool .cover_image {
    height: 100% !important;
    object-fit: cover !important;
    order: 1;
    margin-right: 30px;
    margin-top: 30px;
  }
  .about_wppool .about_info h2 {
    font-size: 32px !important;
  }
  .about_wppool .about_info h3 {
    font-size: 20px !important;
    margin-bottom: 8px !important;
  }
  .about_wppool .about_info p {
    font-size: 14px !important;
  }
  .about_wppool .about_info .action_btn button {
    margin-top: 16px !important;
    height: 38px !important;
    font-size: 14px !important;
  }
}
