.all_companies {
    background: #ededed;
    box-shadow: 0px 66px 66px 0px rgba(0, 0, 0, 0.04);
  }
  .all_companies .all_companies_container {
    background: #fff;
    border-radius: 20px;
    margin-top: 50px;
    border: 1px solid #dddddd;
  }
  .all_companies_data_container .container_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .all_companies_data_container .container_header .search_bar {
    width: 47%;
  }
  .all_companies_data_container .container_header h2 {
    font-size: 48px;
    font-family: Nantes;
    font-weight: 400;
    color: #191618;
  }
  .all_companies_data_container .data_container_top_bar {
    padding: 50px 50px 60px 50px;
  }
  .all_companies_data_container .container_header .search_bar {
    display: flex;
    align-items: center;
    justify-content: start;
    background: #ededed;
    border: 1px solid #dadada;
    height: 58px;
    border-radius: 10px;
    padding: 15px;
  }
  .all_companies_data_container .search_bar img {
    margin-top: 8px;
    height: 26px;
    width: 26px;
  }
  .all_companies_data_container .search_bar input {
    margin-left: 8px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 24px;
    font-family: Nantes;
    font-weight: 400;
    color: #191618;
    width: 100%;
  }
  .all_companies_data_container .search_bar input::placeholder {
    font-size: 24px;
    font-family: Nantes;
    font-weight: 400;
    color: #191618;
  }
  .all_companies .all_companies_data_table {
    padding-right: 15px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 30px;
    height: 500px;
    max-height: 500px;
    overflow: auto;
  }
  .all_companies .all_companies_data_table table {
    border-collapse: collapse;
    width: 100%;
    max-height: 600px;
  }
  .all_companies .all_companies_data_table table th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
    font-size: 16px;
    font-family: "Neue Haas Unica W1G";
    font-weight: 300;
    color: #000;
  }
  .all_companies .all_companies_data_table table td {
    font-size: 16px;
    font-family: Nantes;
    font-weight: 400;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .all_companies .all_companies_data_table td,
  th {
    text-align: center;
    padding: 10px;
  }
  .all_companies .all_companies_data_table td:nth-child(1),
  th:nth-child(1) {
    text-align: left !important;
    padding: 10px;
  }
  .all_companies .all_companies_data_table tr:nth-child(odd) {
    background-color: #f3f3f3;
    border-radius: 5px;
  }
  .all_companies .all_companies_data_table .table_head {
    background-color: transparent !important;
  }
  
  /* Custom scrollbar for WebKit browsers (Chrome, Safari) */
  .all_companies_data_table::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }
  
  .all_companies_data_table::-webkit-scrollbar-track {
    background: #e5f1f3;
    border-radius: 10px;
  }
  
  .all_companies_data_table::-webkit-scrollbar-thumb {
    background: #2042b6;
    border-radius: 10px;
  }
  
  .all_companies_data_table::-webkit-scrollbar-thumb:hover {
    background: #1640cd;
  }
  .all_companies .report_download {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .all_companies .report_download .report_downloader_wrapper{
    display: flex;
    align-items: center;
  }
  .all_companies .report_downloader_wrapper button{
    border: 1px solid #2042B6;
      outline: none;
      background: #2042B6;
      color: #fff;
      height: 47px;
      font-size: 14px;
      /* font-family: Messina Sans; */
      font-family: "Neue Haas Unica W1G";
      font-weight: 350;
      border-radius: 40px;
      cursor: pointer;
      box-shadow: 0px 24px 36px 0px rgba(0, 0, 0, 0.25);
  
  }
  .all_companies .report_downloader_wrapper button:nth-child(1) {
    width: 269px;
    margin-right: 10px;
  }
  .all_companies .report_downloader_wrapper button:nth-child(2) {
    width: 201px;
  }
  